#cancel_search{
    font-size: 0;
    margin-left: 12px;
}
#cmdline{
    bottom: 5px;
    padding: 5px;
    position: absolute;
    z-index: 5;
}
#feeds-holder #feedTree .loadingNode, 
#feeds-holder .dijitTreeExpandoLeaf[src*=indicator] ~ .dijitTreeContent:after{
    height: 11px;
    margin: 5px;
    opacity: 1;
    width: 16px;
}
#feeds-holder #feedTree > .dijitTreeNode > .dijitTreeContainer > .dijitTreeNode:first-child{
    margin-bottom: 26px;
}
#feeds-holder #feedTree > .dijitTreeNode > .dijitTreeContainer > .dijitTreeNode:first-child .feedIcon{
    margin: 0 6px 0 -2px;
}
#feeds-holder .counterNode{
    float: right;
    font-size: 10px;
    padding: 5px 0 0 0;
}
#feeds-holder .dijitTreeLabel.Unread {
    font-weight: bold;
}
#feeds-holder .dijitTreeRow{
    border: 0;
    box-sizing: border-box;
    max-width: 100%;
    moz-box-sizing: border-box;
    overflow: hidden;
    padding: 4px 6px;
    text-overflow: ellipsis;
}
#feeds-holder .dijitTreeRow.Error,
#errorButton{
    color: var(--negative-color);
}
#feeds-holder .dijitTreeRow.Hidden,
#feeds-holder .dijitFolderClosed,
#feeds-holder .dijitFolderOpened,
#feeds-holder .dijitTreeExpandoLeaf,
#feeds-holder[style*=none] ~ .dijitSplitter{
    display: none;
}
#feeds-holder .dijitTreeRowSelected{
    background-color: var(--selection-color);
}
#feeds-holder img.feedIcon{
    margin: 0 4px 0 0;
    position: relative;
    top: -1px;
    vertical-align: middle;
}
.hlLabelRef {
    border-radius: 3px;
    padding: 1px;
}
#floatingTitle{
    background: var(--view-bg-color);
    left: 27px;
    position: absolute;
    right: -25px;
    top: 0px;
    z-index: 4;
    padding: 11px 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#floatingTitle .rchk,
#floatingTitle .hlFeed,
#floatingTitle .author,
#floatingTitle .hlLabelRef,
#floatingTitle .titleWrap span,
.cdm > hr,
.cdm.expandable.active .rchk,
.cdm.expanded .rchk{
    display: none !important;
}
#floatingTitle .title{
    color: inherit;
}
#floatingTitle .title,
.postHeader .postTitle a{
    font-size: 13px;
    font-weight: bold;
}
#floatingTitle .titleWrap,
.cdm.expandable:not(.active) .titleWrap,
.hlTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#floatingTitle .updated,
.cdmHeader .updated,
.cdmHeader .hlFeed,
.hl > .hlFeed,
.hlUpdated{
    font-size: 11px;
    line-height: 16px;
}
#floatingTitle > *,
.cdm.expandable:not(.active) .cdmHeader > *,
.hl > *{
    display: block;
    moz-box-ordinal-group: 3;
    ms-flex-order: 3;
    order: 3;
    padding: 7px 6px;
    webkit-box-ordinal-group: 3;
    webkit-order: 3;
}
#floatingTitle > .scoreWrap > .hlScorePic,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap > .hlScorePic,
.hl > .hlRight > .hlScorePic{
    display: none;
}
#floatingTitle > .scoreWrap,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap,
.hl > .hlRight{
    moz-box-ordinal-group: 1;
    ms-flex-order: 1;
    order: 1;
    webkit-box-ordinal-group: 1;
    webkit-order: 1;
}
#floatingTitle > .titleWrap,
.cdm.expandable:not(.active) .cdmHeader > .titleWrap,
.hl > .hlTitle{
    flex: 1;
    moz-box-flex: 1;
    ms-flex: 99;
    webkit-box-flex: 1;
    webkit-flex: 1;
}
#floatingTitle > :first-child > *,
#floatingTitle > .scoreWrap img,
.cdm .cdmHeader > :first-child > *,
.cdm .cdmHeader > .scoreWrap img,
.hl .hlLeft > *,
.hl .hlRight img{
    display: none;
    float: right;
    margin: 0 6px;
}
#floatingTitle > :first-child > .pubPic,
.cdm.expandable:not(.active):hover .cdmHeader > :first-child > .pubPic,
.hl:hover > .hlLeft > .pubPic{
    margin-left: 33px;
}
#floatingTitle > :first-child,
#floatingTitle > .scoreWrap,
.cdm.expandable:not(.active) .cdmHeader > :first-child,
.cdm.expandable:not(.active) .cdmHeader > .scoreWrap,
.cdm.expandable:not(.active) .cdmHeader > .hlFeed,
.hl > .hlFeed,
.hl > .hlLeft,
.hl > .hlRight{
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
}
#floatingTitle > :first-child,
.cdm.expandable:not(.active) .cdmHeader > :first-child,
.hl > .hlLeft{
    moz-box-ordinal-group: 4;
    ms-flex-order: 4;
    order: 4;
    webkit-box-ordinal-group: 4;
    webkit-order: 4;
}
#floatingTitle > div,
#floatingTitle .updated,
.cdmHeader > div,
.cdmHeader .updated,
.hlLeft,
.hlUpdated,
.hlRight,
.hlFeed,
.author{
    white-space: nowrap;
}
#floatingTitle,
.cdm .title,
.cdm .cdmHeader,
.hl,
.hl a,
.hl.Unread .contentPreview{
    color: var(--text-color);
}
#floatingTitle,
.cdm.expandable:not(.active) .cdmHeader,
.hl{
    display: flex;
}
#floatingTitle.Unread .title,
.cdm.Unread .title,
.hl.Unread .hlContent a,
.postHeader .postTitle a{
    color: var(--text-color);
}
#toolbar{
    background-color: transparent;
}
#headlines-frame{
    background: transparent;
    padding: 0 34px 0 26px;
}
#headlines-frame.wide .hl{
    flex-wrap: wrap;
    webkit-flex-wrap: wrap;
}
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
    background-color: transparent;
    border-color: var(--border-color);
}
/*#headlines-frame.wide .hl > .hlTitle{
    flex: 100% 1;
    margin-top: -30px;
    moz-box-flex: 1;
    moz-box-ordinal-group: 4;
    ms-flex: 100% 1;
    ms-flex-order: 4;
    order: 4;
    padding-top: 30px;
    webkit-box-flex: 1;
    webkit-box-ordinal-group: 4;
    webkit-flex: 100% 1;
    webkit-order: 4;
    white-space: normal;
    width: 100%;
}
#headlines-frame.wide .hl:before{
    content: "";
    display: block;
    flex: 99;
    moz-box-flex: 1;
    moz-box-ordinal-group: 3;
    ms-flex: 99;
    ms-flex-order: 3;
    order: 3;
    webkit-box-flex: 1;
    webkit-box-ordinal-group: 3;
    webkit-flex: 99;
    webkit-order: 3;
}
#headlines-frame.wide .hl:hover > *{
    background: transparent;
}
#headlines-frame.wide + #content-insert .postContent{
    flex: 1;
    overflow: auto;
}
#headlines-frame.wide + #content-insert .postReply{
    display: flex;
    flex-direction: column;
    height: 100%;
}*/
#headlines-spacer{
    box-sizing: border-box;
    height: 100%;
    moz-box-sizing: border-box;
    padding-top: 42px;
    position: relative;
    text-align: center;
}
#headlines-spacer:after{
    bottom: 0;
    content: "The End";
    font-size: 18px;
    left: -26px;
    padding: 50px;
    position: absolute;
    right: -34px;
}
/*#headlines-toolbar{
    margin: 0;
}
#headlines-toolbar{
    display: block;
}*/
#headlines-toolbar .holder{
    display: flex;
}
#headlines-toolbar .main{
    text-align: right;
    width: 100%;
}
#headlines-toolbar .main > *,
#headlines-toolbar .main > .sel_links a{
    color: var(--text-color);
    font-size: 12px;
    vertical-align: middle;
}
#headlines-toolbar .main > .sel_links{
    background-color: var(--main-bg-color);
    font-size: 0;
}
#headlines-toolbar .main > .sel_links a{
    margin: 0 10px 0 2px;
}
#headlines-toolbar .r img{
    margin: 3px 6px 0 0;
    vertical-align: top !important;
}
/*#headlines-toolbar_splitter,
#toolbar_splitter{
    display: none;
}*/
#main #content-wrap .dijitComboButton .dijitButtonText{
    padding: 0;
}
#main .dijitSplitterHover,
#main .dijitSplitterActive{
    background: var(--focus-color);
}
#main .dijitSplitterThumb{
    display: none;
}
/*#main,
#feeds-holder,
#main #headlines-wrap-inner .dijitSplitter{
    background-color: var(--main-bg-color);
    color: var(--text-color);
}*/
#main_toolbar_form{
    margin-left: -9px;
}
/*#main_toolbar_form .actionChooser:last-child:not(display:none){
    margin-right: 0;
}*/
#main_toolbar_form > *{
    margin: 0 0 0 5px;
}
.actionChooser {
    float: right;
    display: flex;
    margin-top: 10px;
}
.dj_webkit .dijitToolbar .actionChooser .dijitDropDownButton,
.dj_webkit .dijitToolbar .actionChooser .dijitComboButton,
.dj_webkit .dijitToolbar .actionChooser .dijitButton {
    margin: 0 0 0 5px;
}
.dj_webkit .dijitToolbar .actionChooser .dijitDropDownButton {
    order: 3;
}
#main_toolbar_form{
    display: inline-block;
    margin-top: 10px;
}
#main-toolbar > *{
    white-space: nowrap;
}
#main-toolbar.dijitToolbar{
    margin: 0;
}
#notify{
    background: var(--focus-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0;
    bottom: -35px;
    color: var(--text-color);
    display: flex;
    font-size: 12px;
    left: 0px;
    moz-transition: all 0.5s ease-in-out;
    o-transition: all 0.5s ease-in-out;
    padding: 5px;
    position: fixed;
    right: 0px;
    transition: all 0.5s ease-in-out;
    webkit-transition: all 0.5s ease-in-out;
    z-index: 2;
}
#notify img{
    max-height: 14px;
    vertical-align: middle;
}
#notify img[src$='images/alert.png'],
#notify img[src$='images/information.png'],
.ttrssPrefs img[src$='images/information.png']{
    background: transparent url("icons.svg#info") 0 0 no-repeat;
    cursor: pointer;
}
#notify img[src$='images/cross.png']{
    background: transparent url("icons.svg#close") 0 0 no-repeat;
    cursor: pointer;
}
#notify span.msg{
    flex: 1;
    padding: 0px 5px;
}
#notify.notify_error{
    background: var(--negative-color);
}
#notify.visible{
    moz-transform: translate(0, -35px);
    o-transform: translate(0, -35px);
    transform: translate(0, -35px);
    webkit-transform: translate(0, -35px);
}
#pref-feeds-feeds .dijitContentPane,
#pref-filter-content,
#pref-label-content,
#pref-user-content{
    background: var(--view-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
#pref-filter-wrap, #pref-filter-header, #pref-filter-content,
#pref-label-wrap, #pref-label-header, #pref-label-content,
#pref-user-wrap, #pref-user-header, #pref-user-content,
#pref-instance-wrap, #pref-instance-header, #pref-instance-content{
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}
#selected_prompt{
    margin: 1px 12px 0 0;
    padding-right: 12px;
}
#toolbar{
    height: 90px;
    padding: 12px 44px 0 27px;
    z-index: 3;
}
.ttrssMain .tinyFeedIcon,
#floatingTitle > :first-child > *,
#floatingTitle > .scoreWrap img,
.cdm.expanded .cdmHeader > :first-child > *,
.cdm.expanded .cdmHeader > .scoreWrap img,
.cdm.expandable.active .cdmHeader > :first-child > *,
.cdm.expandable.active .cdmHeader > .scoreWrap img,
.cdm.expandable:not(.active):hover .cdmHeader > :first-child > *,
.cdm.expandable:not(.active):hover .cdmHeader > .scoreWrap img,
.hl:hover .hlLeft > *,
.hl:hover .hlRight img,
.cdm.expandable.published .pubPic,
.hl.published .pubPic,
.cdm.expandable.Selected .rchk,
.hl.Selected .rchk{
    display: inline-block;
    vertical-align: middle;
}
body img[src$='images/archive.png']{
    background: transparent url("icons.svg#archive") 0 0 no-repeat;
}
body img[src$='images/fresh.png']{
    background: transparent url("icons.svg#fresh") 0 0 no-repeat;
}
body img[src$='images/mark_set.png'],
body img[src$='images/star.png']{
    background: transparent url("icons.svg#star-filled") 0 0 no-repeat;
}
body img[src$='images/mark_unset.png']{
    background: transparent url("icons.svg#star") 0 0 no-repeat;
}
body img[src$='images/new_version.png']{
    background: transparent url("icons.svg#update") 0 0 no-repeat;
}
body img[src$='images/page_white_go.png']{
    background: transparent url("icons.svg#jump") 0 0 no-repeat;
    cursor: pointer;
}
body img[src$='images/pub_set.png'],
body img[src$='images/pub_unset.png'],
body img[src$='images/feed.png']{
    background: transparent url("icons.svg#feed") 0 0 no-repeat;
}
body img[src$='images/recently_read.png'],
body img[src$='images/time.png']{
    background: transparent url("icons.svg#history") 0 0 no-repeat;
}
body img[src$='images/score_half_high.png']{
    background: transparent url("icons.svg#score-3") 0 0 no-repeat;
}
body img[src$='images/score_half_low.png']{
    background: transparent url("icons.svg#score-1") 0 0 no-repeat;
}
body img[src$='images/score_high.png']{
    background: transparent url("icons.svg#score-4") 0 0 no-repeat;
}
body img[src$='images/score_low.png']{
    background: transparent url("icons.svg#score-0") 0 0 no-repeat;
}
body img[src$='images/score_neutral.png']{
    background: transparent url("icons.svg#score-2") 0 0 no-repeat;
}
body img[src$='images/tag.png']{
    vertical-align: middle;
}
body img[src$='images/tag.png'],
body img[src$='images/folder.png']{
    background: url("icons.svg#tag");
}
body img[src$='plugins/note/note.png']{
    background: transparent url("icons.svg#note") 0 0 no-repeat;
    cursor: pointer;
}
.ttrssPrefs #header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.ttrssPrefs #header a{
    background-image: url("icons.svg#close");
    display: block;
    font-size: 0;
    height: 16px;
    width: 16px;
}
.ttrssPrefs #pref-tabs{
    padding: 10px;
}
.ttrssPrefs .feedParam,
.ttrssPrefs .labelParam{
    float: right;
    margin-right: 1em;
}
.ttrssPrefs hr{
    border-color: var(--border-color);
    margin: 10px 0;
}
#userConfigTab,
#labelConfigTab,
#filterConfigTab,
#pref-feeds-feeds,
#instanceConfigTab{
    padding: 0px;
}
/*.actionChooser .button_nav,
.actionChooser .button_nav:hover{
    background: transparent !important;
    border: none;
    cursor: pointer;
    left: 5px;
    opacity: 1;
    padding: 0;
    position: relative;
    vertical-align: middle;
}*/
.cdm{
    background-color: var(--view-bg-color);
}
.cdm .cdmExcerpt,
.cdm.expandable .author,
.cdm.expanded .author,
.hlContent .contentPreview{
    font-size: 11px;
    font-weight: normal;
}
/*.cdm .cdmExcerpt:before,
.hlContent .contentPreview:before{
    content: " ";
}
.cdm .title,
.hlContent{
    font-size: 13px;
    font-weight: bold;
}
.cdm .title,
.hlContent a{
    text-decoration: none;
}*/
.cdm,
.hl{
    position: relative;
}
.cdm.expandable.active .cdmExcerpt{
    display: none;
}
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .hlFeed{
    left: 55px;
}
.cdm.expandable.active .cdmHeader .scoreWrap > .hlScorePic,
.cdm.expanded .cdmHeader .scoreWrap > .hlScorePic{
    right: 82px;
}
.cdm.expandable.active .cdmHeader .scoreWrap > span,
.cdm.expanded .cdmHeader .scoreWrap > span{
    left: 27px;
}
.cdm.expandable.active .cdmHeader .titleWrap,
.cdm.expanded .cdmHeader > .titleWrap{
    padding: 0;
}
.cdm.expandable.active .cdmHeader .updated,
.cdm.expanded .cdmHeader .updated{
    right: 116px;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expandable.active .cdmHeader .hlFeed,
.cdm.expandable.active .cdmHeader .updated,
.cdm.expandable.active .cdmHeader .scoreWrap > *,
.cdm.expanded .cdmHeader > :first-child,
.cdm.expanded .cdmHeader .hlFeed,
.cdm.expanded .cdmHeader .updated,
.cdm.expanded .cdmHeader .scoreWrap > *{
    position: absolute;
    top: 33px;
}
.cdm.expandable.active .cdmHeader > :first-child,
.cdm.expanded .cdmHeader > :first-child{
    right: 27px;
}
.cdm.expandable.active .cdmHeader,
.cdm.expanded .cdmHeader{
    padding: 53px 33px 0;
}
.cdm.expandable.active .title,
.cdm.expanded .title{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}
.cdm.expandable.active .title:after,
.cdm.expanded .title:after{
    clear: both;
    content: " ";
    display: table;
    margin-top: 5px;
}
.cdm.expandable.active,
.cdm.expanded{
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-bottom: 17px;
    overflow: hidden;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed a,
.hl > .hlFeed a{
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cdm.expandable:not(.active) .cdmHeader > .hlFeed,
.hl > .hlFeed{
    moz-box-ordinal-group: 2;
    ms-flex-order: 2;
    order: 2;
    webkit-box-ordinal-group: 2;
    webkit-order: 2;
    width: 135px;
}
.cdm.expandable:not(.active):hover .cdmHeader,
.hl:hover > *,
#headlines-frame.wide .hl:hover > .hlTitle,
.collapseBtn:hover{
    background: rgba(0,0,0,.033);
    cursor: pointer;
}
.cdm.expandable:not(.active):hover .updated,
.hl:hover .hlUpdated{
    display: none;
}
.cdm.expanded.active,
.cdm.expandable.active,
#floatingTitle .cdm.expandable.active{
    border-color: var(--focus-color);
    z-index: 1;
}
.cdmContentInner{
    margin: -200px 0 0;
    padding: 210px 33px 10px;
}
/*.cdmContentInner .expandPrompt{
    font-weight: bold;
    padding: 5px 0 6px;
    width: 100%;
}*/
/*.cdmContentInner > .contentSizeWrapper{
    border-bottom: 1px solid #ddd;
    height: 600px;
    height: auto;
    margin: 0 -10px;
    padding: 0 10px;
}*/
/*.cdmContentInner code,
.postContent code{
    background: rgba(0,0,0,.0333);
    border: 1px solid rgba(0,0,0,.0333);
    display: inline-block;
    line-height: 1.333;
    padding: 0 .31em;
}
.cdmContentInner figure,
.postContent figure{
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    margin: 1em 0;
}*/
/*.cdmContentInner h1,
.postContent h1{
    font: normal normal bold 22px/28px "Noto Sans";
}*/
/*.cdmContentInner h1,
.postContent h1,
.cdmContentInner h2,
.postContent h2,
.cdmContentInner h3,
.postContent h3,
.cdmContentInner h4,
.postContent h4,
.cdmContentInner h5,
.postContent h5,
.cdmContentInner h6,
.postContent h6{
    margin-bottom: 14px;
    margin-top: 35px;
    text-rendering: optimizeLegibility;
    webkit-font-smoothing: antialiased;
}
.cdmContentInner h2,
.postContent h2{
    font: normal normal bold 20px/26px "Noto Sans";
}
.cdmContentInner h3,
.postContent h4{
    font: normal normal bold 18px/24px "Noto Sans";
}
.cdmContentInner h4,
.postContent h4{
    font: normal normal bold 16px/22px "Noto Sans";
}
.cdmContentInner h5,
.postContent h5{
    font: normal normal bold 14px/20px "Noto Sans";
}
.cdmContentInner h6,
.postContent h6{
    font: normal normal bold 13px/18px "Noto Sans";
}
.cdmContentInner hr,
.postContent hr{
    border: none;
    border-top: 1px solid #ddd;
}*/
/*.cdmContentInner iframe,
.postContent iframe{
    margin: .5em 0;
}
*/
.cdmContentInner img,
.postContent img{
    height: auto;
    margin: .5em 1em .5em 0;
    max-width: 100%;
    width: auto;
}
.cdmContentInner p,
.postContent p{
    max-width: 45em;
}
/*.cdmContentInner pre code,
.postContent pre code{
    background: transparent;
    border: none;
    color: inherit;
    padding: 0;
}*/
/*.cdmContentInner pre,
.postContent pre{
    background: rgba(0,0,0,.0333);
    border: 1px solid rgba(0,0,0,.0333);
    font-size: 11px;
    line-height: 1.333;
    overflow: auto;
    padding: .5em;
    white-space: pre-wrap;
}
.cdmContentInner pre,
.postContent pre,
.cdmContentInner code,
.postContent code{
    color: #222;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}*/
/*.cdmContentInner q :first-child,
.postContent q :first-child,
.cdmContentInner blockquote :first-child,
.postContent blockquote :first-child{
    margin-top: 0;
}
.cdmContentInner q :last-child,
.postContent q :last-child,
.cdmContentInner blockquote :last-child,
.postContent blockquote :last-child{
    margin-bottom: 0;
}
.cdmContentInner q,
.postContent q,
.cdmContentInner blockquote,
.postContent blockquote{
    background: rgba(0,0,0,.033);
    border-left: 4px solid rgba(0,0,0,.167);
    display: block;
    margin: 1em 0;
    padding: .31em 1em;
}*/
.cdmContentInner table,
.postContent table{
    border-collapse: collapse;
}
.cdmContentInner th,
.postContent th{
    background: rgba(0,0,0,.05);
}
.cdmContentInner th,
.postContent th,
.cdmContentInner td,
.postContent td{
    border: 1px solid var(--border-color);
    padding: 10px;
}
.cdmContentInner tr,
.postContent tr{
    vertical-align: top;
}
.cdmContentInner,
.postContent{
    clear: both;
    font-size: 14px;
    line-height: 1.7;
}
/*.cdmFeedTitle{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 56px 0 28px;
}
.cdmFeedTitle .catchup{
    opacity: 0;
    transition: opacity .2s;
}
.cdmFeedTitle .title{
    color: #aaa;
    font: normal normal bold 16px/18px "Noto Sans";
    padding-right: 5px;
    text-rendering: optimizeLegibility;
    webkit-font-smoothing: antialiased;
}
.cdmFeedTitle .title:hover{
    text-decoration: underline;
}
.cdmFeedTitle > div:first-child{
    display: inline-block;
    float: none !important;
    padding: 0 12px 0 7px;
    vertical-align: top;
}
.cdmFeedTitle:first-child{
    padding-top: 14px;
}
.cdmFeedTitle:hover .catchup{
    opacity: 1;
}*/
.cdmFooter{
    clear: both;
    padding: 0 33px 33px;
}
.cdmHeader .hlFeed a,
.hl > .hlFeed a{
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.033);
    border-radius: 99px;
    color: var(--text-color);
    display: inline-block;
    line-height: 1;
    margin-top: 1px;
    padding: 1px 6px 0;
}
.cdmHeader img:hover{
    opacity: 1;
}
.cdmHeader img{
    opacity: 0.5;
}
.claro .cdmIntermediate{
    padding-left: 33px;
}
.claro .dijitAccordionContainer .dijitAccordionChildWrapper{
    background-color: transparent;
    border: none;
    margin: 0;
}
.claro .dijitAccordionContainer-dijitContentPane .dijitContentPane{
    padding: 0;
}
.claro .dijitAccordionInnerContainer{
    border-color: var(--border-color);
}
.claro .dijitAccordionInnerContainer .dijitAccordionTitle{
    background: var(--border-color);
    border-color: var(--border-color);
    color: var(--text-color);
}
.claro .dijitAccordionInnerContainer.dijitAccordionInnerContainerSelected .dijitAccordionTitle{
    background: var(--tab-bg-color);
    border-color: var(--border-color);
    color: var(--text-color);
}
.claro .dijitBorderContainer,
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane{
    padding: 0;
}
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode{
    background: var(--main-bg-color);
    border-color: var(--border-color);
    border-radius: 2px;
    box-shadow: none;
    color: var(--text-color);
    padding: 5px;
    webkit-box-shadow: none;
}
.claro .dijitCheckBox,
.claro .dijitCheckBoxIcon{
    background: transparent;
    border-color: var(--border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
    position: relative;
}
.claro .dijitCheckBoxChecked,
.claro .dijitCheckBoxIconChecked{
    background: var(--focus-color);
    border-color: var(--focus-color);
}
.claro .dijitCheckBoxHover,
.claro .dijitCheckBoxIconHover{
    background: transparent;
    border-color: var(--focus-color);
}
.claro .dijitComboBox .dijitArrowButtonInner{
    border: none;
}
.claro .dijitComboBox .dijitButtonNode{
    background: var(--main-bg-color);
    border: none;
}
.claro .dijitContentPane{
    padding: 10px;
}
.claro .dijitDialogCloseIcon{
    background: transparent url("icons.svg#close") 0 0 no-repeat;
}
.claro .dijitDialogPaneContent{
    border: 0;
}
.claro .dijitDialogPaneContent{
    background: var(--main-bg-color);
    border-color: var(--border-color);
}
.claro .dijitDialogTitle{
    color: var(--text-color);
}
.claro .dijitDialogTitleBar{
    background: var(--main-bg-color);
    border: 0;
}
.claro .dijitDialogUnderlay{
    background: #000;
}
.claro .dijitMenu{
    background: var(--main-bg-color);
    border-color: var(--border-color);
}
.claro .dijitMenuExpand{
    background: transparent url("icons.svg#right") 0 0 no-repeat;
    background-size: 12px;
    height: 12px;
    width: 12px;
}
.claro .dijitMenuItem{
    color: var(--text-color);
}
.claro .dijitMenu .dijitMenuItem td {
    border-width: 0;
    padding: 4px;
}
.claro .dijitMenu .dijitMenuItemSelected td {
    background: transparent;
    color: var(--text-color);
}
.claro .dijitMenuItemDisabled .dijitMenuItemLabel{
    border-bottom: 1px solid var(--border-color);
}
.claro .dijitMenuItemHover,
.claro .dijitMenuItemSelected{
    background: var(--focus-color);
    color: var(--text-color);
}
.claro .dijitMenuSeparatorTop{
    border-color: var(--border-color);
}
.claro .dijitProgressBar{
    border: 1px solid var(--border-color);
    border: none;
    border-radius: 10px;
    margin: -10px 0;
}
.claro .dijitProgressBarFull{
    border: 0;
}
.claro .dijitProgressBarLabel{
    color: inherit;
}
.claro .dijitProgressBarLabel{
    color: inherit;
    font-size: 0;
    padding: 5px;
}
.claro .dijitProgressBarTile{
    background: var(--focus-color);
}
.claro .dijitSelect .dijitArrowButton{
    background: var(--main-bg-color);
    border: none;
    padding: 4px;
}
.claro .dijitSelect .dijitArrowButtonInner,
.claro .dijitComboBox .dijitArrowButtonInner,
.claro .dijitArrowButtonInner,
.claro .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner,
.claro .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner,
.claro .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.claro .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner{
    background: transparent url("icons.svg#down") 0 0 no-repeat;
    height: 14px !important;
    margin: 0 0 0 0;
    width: 14px !important;
}
.claro .dijitSelect .dijitButtonContents{
    border: none;
    padding: 5px;
}
.claro .dijitSelect,
.claro .dijitTextBox,
.claro .dijitComboButton,
.claro .dijitDropDownButton,
.claro .dijitButton{
    background-color: var(--main-bg-color);
    border-color: var(--border-color);
    border-radius: 2px;
}
.claro .dijitSelect.dijitSelectHover,
.claro .dijitSelect.dijitSelectActive,
.claro .dijitTextBox.dijitTextBoxHover,
.claro .dijitTextBox.dijitTextBoxActive,
.claro .dijitButton.dijitButtonHover .dijitButtonNode{
    border-color: var(--focus-color);
}
.claro .dijitSelectFocused .dijitArrowButton{
    background: transparent;
}
.claro .dijitSelectFocused,
.claro .dijitSelectFocused .dijitButtonContents,
.claro .dijitTextBoxFocused,
.claro .dijitTextBoxFocused .dijitButtonNode{
    background: var(--main-bg-color);
    border-color: var(--border-color);
}
.claro .dijitSelectMenu .dijitMenuItem td,
.claro .dijitComboBoxMenu .dijitMenuItem{
    border: none;
    border-color: var(--border-color);
    color: var(--text-color);
    padding: 4px 8px;
}
.claro .dijitSelectMenu .dijitMenuItemDisabled .dijitMenuItemLabel{
    border-bottom: 1px solid var(--border-color);
}
.claro .dijitSelectMenu .dijitMenuItemHover td,
.claro .dijitSelectMenu .dijitMenuItemSelected td{
    background: var(--focus-color);
    color: var(--text-color);
}
.claro .dijitTabContainerTop-dijitContentPane,
.claro .dijitTabContainerLeft-dijitContentPane,
.claro .dijitTabContainerBottom-dijitContentPane,
.claro .dijitTabContainerRight-dijitContentPane,
.claro .dijitAccordionContainer-dijitContentPane{
    background-color: var(--tab-bg-color);
}
.claro .dijitTabContainerTop-dijitContentPane,
.claro .dijitTabContainerLeft-dijitContentPane,
.claro .dijitTabContainerBottom-dijitContentPane,
.claro .dijitTabContainerRight-dijitContentPane,
.claro .dijitAccordionContainer-dijitContentPane,
.claro .dijitAccordionContainer .dijitAccordionContainer-child{
    padding: 10px;
}
.claro .dijitTabContainerTop-tabs .dijitTab{
    background: var(--border-color);
    border-color: var(--border-color);
    border-top-width: 0;
    color: var(--text-color);
}
.claro .dijitTabContainerTop-tabs .dijitTab{
    padding: 3px 6px;
}
.claro .dijitTabContainerTop-tabs .dijitTab.dijitTabChecked{
    background: var(--tab-bg-color);
    border-color: var(--border-color);
    border-top-width: 1px;
}
.claro .dijitTabPaneWrapper,
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs{
    border-color: var(--border-color);
}
.claro .dijitTextBox,
.claro .dijitInputInner{
    border-radius: 2px;
    color: var(--text-color);
    padding: 4px;
}
.claro .dijitTextBoxFocused .dijitInputContainer{
    background: var(--main-bg-color);
}
.claro .dijitToolbar{
    background: transparent;
    border-color: var(--border-color);
    border-width: 0;
    margin: 10px;
    overflow: auto;
}
.claro .dijitToolbar .dijitButton .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboBox .dijitButtonNode{
    background: var(--main-bg-color);
}
.claro .dijitToolbar .dijitButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButtonHover .dijitButtonNode{
    background: var(--main-bg-color);
    border-color: transparent;
}
.claro .dijitToolbar .dijitButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitComboButtonHover .dijitButtonNode{
    background: transparent;
    border-color: transparent;
}
.claro .dijitToolbar .dijitButtonHover,
.claro .dijitToolbar .dijitDropDownButtonHover,
.claro .dijitToolbar .dijitDropDownButtonActive,
.claro .dijitToolbar .dijitComboButtonHover,
.claro .dijitToolbar .dijitComboButtonActive,
.claro .dijitToolbar .dijitToggleButtonHover,
.claro .dijitToolbar .dijitToggleButtonActive{
    border: 1px solid var(--focus-color);
    padding: 4px;
    transition: none;
}
.claro .dijitToolbar .dijitComboButtonActive .dijitButtonNode,
.claro .dijitToolbar .dijitComboButtonActive .dijitDownArrowButton{
    background: transparent;
}
.claro .dijitToolbar .dijitComboButtonActive .dijitButtonNodeActive,
.claro .dijitToolbar .dijitComboButtonHover .dijitButtonNodeHover{
    background: transparent;
    border-color: transparent;
}
.claro .dijitToolbar .dijitComboButtonActive .dijitDownArrowButtonActive{
    background: transparent;
}
.claro .dijitToolbar .dijitComboButtonActive .dijitDownArrowButtonActive{
}
.claro .dijitToolbar .dijitComboButtonHover .dijitButtonNode,
.claro .dijitToolbar .dijitComboButtonHover .dijitDownArrowButton,
.claro .dijitToolbar .dijitComboButtonFocused .dijitDownArrowButton{
    background: transparent;
}
.claro .dijitTreeRow .dijitTreeExpando{
    background: transparent url("icons.svg#down") 0 0 no-repeat;
    margin: 4px 0 0 0;
}
.claro .dijitTreeRow .dijitTreeExpandoClosed{
    background: transparent url("icons.svg#right") 0 0 no-repeat;
}
.claro .dijitTreeRow, .claro .dijitTreeNode .dojoDndItemBefore,
.claro .dijitTreeNode .dojoDndItemAfter{
    transition: none;
    webkit-transition: none;
}
.claro .dijitTreeRow,
.claro .dijitTreeNode .dojoDndItemBefore,
.claro .dijitTreeNode .dojoDndItemAfter{
    color: var(--text-color);
}
.claro .dijitTreeRowHover{
    background: var(--selection-color);
    opacity: 0.6;
}
.claro .dijitTreeRowSelected{
    background: var(--selection-color);
    border: 0;
}
.claro .dlgButtons .dijitButton .dijitButtonNode,
.claro .dijitDialog [align] .dijitButton .dijitButtonNode{
    font-weight: bold;
    padding: 4px 6px 5px;
}
.claro .dlgButtons .dijitButton .dijitButtonNode,
.claro .dijitDialog [align] .dijitButton .dijitButtonNode{
    font-weight: normal;
    padding: 5px;
}
.collapseBtn{
    background: rgba(255,255,255,0);
    height: 26px;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
}
.dijitDialog{
    background: var(--main-bg-color);
    border: 0;
    padding: 10px;
}
.dijitIconFolderOpen,
.dijitFolderOpened,
.dijitIconFolderClosed,
.dijitFolderClosed{
    background: transparent url("icons.svg#folder") 0 0 no-repeat;
}
.dijitTab .tabLabel{
    padding: 0 10px;
}
.dijitToolbar .dijitToggleButton,
.dijitToolbar .dijitButton,
.dijitToolbar .dijitDropDownButton,
.dijitToolbar .dijitComboButton{
    border: 1px solid var(--border-color);
    margin: 0;
    padding: 4px;
}
.dijitTreeRow img{
    vertical-align: top;
}
.dj_webkit .dijitToolbar .dijitDropDownButton,
.dj_webkit .dijitToolbar .dijitComboButton,
.dj_webkit .dijitToolbar .dijitButton{
    margin-right: 8px;
    padding-left: 4px;
}
.highlight{
    background: rgba(255,204,0,.5);
    border-radius: .2em;
    color: #b80;
    margin: -.1em -.2em;
    padding: .1em .2em;
    position: relative;
}
.hlScorePic:hover{
    cursor: pointer;
    opacity: 1;
}
.insensitive{
    color: #aaa;
}
.noborder{
    border-width: 0px;
}
.postHeader{
    background-color: var(--main-bg-color);
    border-bottom: 1px solid #616569;
    color: var(--text-color);
    font-size: 11px;
}
.postHeader .postDate{
    float: right;
    padding: 1px 0 1px 10px;
    white-space: nowrap;
}
.postHeader .postTags{
    margin-top: -1px;
    text-align: right;
}
.postHeader .postTitle{
    line-height: 16px;
    margin-bottom: 3px;
}
.postHeader,
.postContent{
    padding: 10px 40px 10px 32px;
}
.postHeader:after{
    clear: both;
    content: " ";
    display: table;
}
.postTags > *{
    margin: 0 1px;
    vertical-align: middle;
}
.prefPluginsList{
    background: var(--view-bg-color);
    border: 1px solid var(--border-color);
    padding: 10px;
}
.prefPrefsList td{
    padding: 4px;
}
.whiteBox{
    padding: 1em;
    text-align: center;
}
.whiteBox + #headlines-spacer{
    display: none;
}
::-webkit-scrollbar{
    height: 11px;
    width: 11px;
}
::-webkit-scrollbar-button{
    background-repeat: no-repeat;
    background-size: 12px 12px;
    height: 15px;
    padding: 5px;
    width: 11px;
}
::-webkit-scrollbar-button:vertical:decrement{
    background-image: url("icons.svg#down");
    background-position: top;
    filter: hue-rotate(2);
    transform: scaleY(-1);
}
::-webkit-scrollbar-button:vertical:increment{
    background-image: url("icons.svg#down");
    background-position: bottom;
}
::-webkit-scrollbar-thumb{
    background: var(--scroll-handle-color);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--focus-color);
}
::-webkit-scrollbar-track{
    background: var(--scroll-container-color);
    border-radius: 5px;
}
:focus{
    outline: none;
}
a{
    color: #297FB8;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div#feedlistLoading img, div#filterlistLoading img, div#labellistLoading{
    margin-right: 5px;
}
div#feedlistLoading, div#filterlistLoading, div#labellistLoading{
    color: #555;
    padding: 5px;
    text-align: center;
}
div#overlay{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}
div#overlay #loading_bar{
    margin: auto;
}
div#overlay #overlay_inner{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
div#overlay .insensitive{
    margin: 0 0 20px 0;
}
div.articleNote{
    border-color: var(--border-color);
    border-radius: 2px;
    border-style: dashed;
    border-width: 1px;
    margin: 5px 33px;
    overflow: auto;
    padding: 10px;
}
div.articleNote div.noteEdit{
    cursor: pointer;
    float: right;
}
div.dlgButtons{
    clear: both;
    padding-top: 10px;
    text-align: right;
}
div.filterTestHolder, div.prefFeedOPMLHolder{
    border-width: 1px;
}
div.filterTestHolder,
div.prefFeedOPMLHolder{
    border-color: var(--border-color);
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    height: 300px;
    margin: 0px 0px 5px 0px;
    overflow: auto;
}
div.prefProfileHolder, div.prefFeedOPMLHolder, div.inactiveFeedHolder{
    background: var(--view-bg-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    height: 300px;
    margin: 0px 0px 5px 0px;
    overflow: auto;
    padding: 10px;
}
html{
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
html, button, input, select, textarea{
    font: 11pt/1.5 "Noto Sans", sans-serif;
}
img,
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child{
    border: 0;
}
img.feedIcon,
img.tinyFeedIcon{
    height: 16px;
    width: 16px;
}
img[src$='images/alert.png'],
img[src$='images/archive.png'],
img[src$='images/cross.png'],
img[src$='images/feed.png'] ,
img[src$='images/folder.png'],
img[src$='images/fresh.png'],
img[src$='images/information.png'],
img[src$='images/mark_set.png'],
img[src$='images/mark_unset.png'],
img[src$='images/new_version.png'],
img[src$='images/page_white_go.png'],
img[src$='images/pub_set.png'],
img[src$='images/pub_unset.png'],
img[src$='images/recently_read.png'],
img[src$='images/score_half_high.png'],
img[src$='images/score_half_low.png'],
img[src$='images/score_high.png'],
img[src$='images/score_low.png'],
img[src$='images/score_neutral.png'],
img[src$='images/star.png'],
img[src$='images/tag.png'],
img[src$='images/tag.png'],
img[src$='images/time.png'],
img[src$='plugins/note/note.png']{
    background: #ff00ff;
    height: 0;
    padding-top: 16px;
    width: 16px;
}
input[type="search"]{
    webkit-appearance: none;
}
table.prefErrorLog td.filename,
table.prefErrorLog td.login,
table.prefErrorLog td.timestamp{
    opacity: 0.7;
}
table.prefErrorLog tr.errrow td{
    font-size: 10px;
}
table.prefErrorLog tr.errrow td.errno{
    font-style: italic;
    font-weight: bold;
    white-space: nowrap;
}
table.prefPluginsList label{
    white-space: nowrap;
}
table.prefPluginsList label img{
    vertical-align: middle;
}
table.prefPluginsList td label, table.prefUserList td{
    cursor: pointer;
}
textarea{
    box-sizing: border-box;
    moz-box-sizing: border-box;
}
ul#filterDlg_Matches, ul#filterDlg_Actions{
    list-style-type: none;
}
ul.helpKbList{
    border: 1px solid var(--border-color);
    list-style-type: none;
    margin: 0px 0px 5px 0px;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}
ul.helpKbList h2{
    margin-top: 0px;
}
ul.helpKbList span.hksequence{
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    width: 6em;
}
ul.selfUpdateList, ul.userFeedList{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    height: 200px;
    list-style-type: none;
    margin: 0px 0px 5px 0px;
    overflow: auto;
    padding: 5px;
}

body.ttrss_main,
body.ttrss_prefs,
#main {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}